@{
    ViewData["Title"] = "O nama";
}

<div class="text-center mt-5">
    <h1 class="display-5 fw-bold">O nama</h1>
    <p class="text-muted">
        Dobrodošli u naš fitness centar – mjesto gdje zdravlje, energija i motivacija postaju stil života!
        Naša misija je da svakom članu pružimo podršku na putu ka boljoj formi kroz moderne treninge i individualne planove ishrane.
        Bilo da ste početnik ili iskusni sportista, naš stručni tim je tu da vam pomogne da postignete svoje ciljeve u pozitivnom i motivišućem okruženju.
    </p>

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            <a class="btn btn-warning text-white mt-3 px-4 py-2"
               style="background-color: #f55f3a; border: none;"
               asp-controller="PrijavaZaZaposljavanje" asp-action="Index">
                Kandidati za posao
            </a>
        }
        else
        {
            <a class="btn btn-warning text-white mt-3 px-4 py-2"
               style="background-color: #f55f3a; border: none;"
               asp-controller="PrijavaZaZaposljavanje" asp-action="Create">
                Prijava za posao
            </a>
        }
    }

    <div class="container mt-5">
        <div class="row g-3">
            <!-- Velika slika lijevo -->
            <div class="col-md-6">
                <div class="h-100">
                    <img src="~/images/teretana4.jpg" class="img-fluid rounded shadow-sm w-100 h-100 object-fit-cover" alt="Glavna slika">
                </div>
            </div>

            <!-- Dvije manje slike desno -->
            <div class="col-md-6 d-flex flex-column justify-content-between">
                <div class="mb-2" style="height: 49%;">
                    <img src="~/images/teretana2.jpg" class="img-fluid rounded shadow-sm w-100 h-100 object-fit-cover" alt="Slika 2">
                </div>
                <div style="height: 49%;">
                    <img src="~/images/teretana3.jpg" class="img-fluid rounded shadow-sm w-100 h-100 object-fit-cover" alt="Slika 3">
                </div>
            </div>
        </div>
    </div>


</div>
