@model Aplikacija.Models.PlanIshrane

<form asp-action="Create" method="post">


    <!-- Cilj plana -->
    <div class="form-group">
        <label asp-for="Ciljevi"></label>
        <select asp-for="Ciljevi" asp-items="ViewBag.TipCiljaOptions" class="form-control">
            <option value="">-- Izaberite cilj --</option>
        </select>
        <span asp-validation-for="Ciljevi" class="text-danger"></span>
    </div>

    <!-- Kilaža -->
    <div class="form-group">
        <label asp-for="Kilaza"></label>
        <input asp-for="Kilaza" class="form-control" type="number" step="0.1" min="30" max="300" />
        <span asp-validation-for="Kilaza" class="text-danger"></span>
    </div>

    <!-- Visina -->
    <div class="form-group">
        <label asp-for="Visina"></label>
        <input asp-for="Visina" class="form-control" type="number" min="100" max="250" />
        <span asp-validation-for="Visina" class="text-danger"></span>
    </div>

    <!-- Godine -->
    <div class="form-group">
        <label asp-for="Godine"></label>
        <input asp-for="Godine" class="form-control" type="number" min="10" max="100" />
        <span asp-validation-for="Godine" class="text-danger"></span>
    </div>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-warning">
            @TempData["ErrorMessage"]
        </div>
    }

    <button type="submit" class="btn btn-primary">Kreiraj Plan</button>
</form>
