@model Aplikacija.Models.Kupovina

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Kupovina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DatumKupovine" class="control-label"></label>
                <input asp-for="DatumKupovine" class="form-control" />
                <span asp-validation-for="DatumKupovine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artikal" class="control-label"></label>
                <input asp-for="Artikal" class="form-control" />
                <span asp-validation-for="Artikal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Racun" class="control-label"></label>
                <input asp-for="Racun" class="form-control" />
                <span asp-validation-for="Racun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKorisnik" class="control-label"></label>
                <select asp-for="IdKorisnik" class ="form-control" asp-items="ViewBag.IdKorisnik"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
